[submodule "scratch-blocks"]
	path = scratch-blocks
	url = https://github.com/NihilisticMotif/scratch-blocks
[submodule "ipython"]
	path = ipython
	url = https://github.com/NihilisticMotif/ipython
[submodule "scratch-vm"]
	path = scratch-vm
	url = https://github.com/NihilisticMotif/scratch-vm
